.sidebarBuyer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 100%;
  background-color: var(--Fondo-1);
  left: 0;
  margin: 0;
}
.logoContainer {
  display: flex;
  width: 70%;
  height: auto;
  overflow: hidden;
  margin-inline: 15%;
}
.logoContainer img {
  width: 100%;
}
.buttonsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3em;
  margin-top: 5em;
}
.sidebarButtons {
  width: 80%;
  height: 3em;
  border-radius: 0;
  text-align: left;
  padding-inline: 5%;
  gap: 0.5em;
  align-content: center;
  font-size: 1vw;
  background-color: var(--Fondo-1);
  color: var(--Texto);
  border: none;
}
.sidebarButtons svg {
  margin-right: 5%;
}
.sidebarButtons:hover {
  background-color: var(--Primario-20);
  border: none;
}
.sidebarButtonActive {
  background-color: var(--Primario-20);
  color: var(--Texto);
  font-weight: bold;
}
.sidebarButtonActive a, .sidebarButtons a {
  color: var(--Texto);
}
