.register {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  box-sizing: border-box;
}
.reverse {
  flex-direction: row-reverse;
}
.image {
  display: flex;
  width: 50%;
  height: auto;
  margin: 0;
  padding: 0;
}
.image img {
  width: 100%;
  height: auto;
}
.form {
  display: flex;
  width: 50%;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.registerForm {
  display: flex;
  width: 90%;
  height: auto;
  margin-inline: 5%;
}

@media (max-width: 480px) and (orientation: portrait) {
  .registerForm {
    display: flex;
    margin-block: 5%;
    width: 100%;
    padding-inline: 0px;
    height: auto;
    box-sizing: border-box;
    justify-content: center;
  }
  .image {
    display: none;
  }
  .form {
    display: flex;
    width: 100%;
  }
  .formContent {
    display: flex;
    margin: 0;
  }
  .sliderContent {
  }
}
