#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.appContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

main {
  display: flex !important;
  flex: 1 !important;
  padding: 0;
  margin: 0;
  position: relative;
  justify-content: flex-start;
}

