/* variables.css */
:root {
    /* Paleta de colores principales */
--Primario: #2A9D8F;
--Primario-20:#154F48;
--Primario-30:#1C695F;
--Primario-40: gray;
--Primario-80:#B8DEDA;
--Primario-90:#D4EBE9;

--Secundario:#E9C46A;
--Secundario-20:#756235;
--Secundario-30: rgba(155, 131, 71, 0.3);
--Secundario-80: rgba(248, 235, 205, 0.8);
--Secundario-90:#FBF3E1;

--Terciario:#F77F00;
--Terciario-20:#7C4000;
--Terciario-30:#A55500;
--Terciario-80:#FCD4AA;
--Terciario-90:#FDE5CC;

--Texto:#EAEAEA;

--Fondo-1:#110F14;
--Fondo-2:#211E27;
--Fondo-3:#46444B;

}