/* variables.css */
:root {
    /* Paleta de colores principales */
--Primario: #2A9D8F;
--Primario-20:#154F48;
--Primario-30:#1C695F;
--Primario-40: gray;
--Primario-80:#B8DEDA;
--Primario-90:#D4EBE9;

  --Secundario: #e9c46a;
  --Secundario-20: #756235;
  --Secundario-30: rgba(155, 131, 71, 0.3);
  --Secundario-80: rgba(248, 235, 205, 0.8);
  --Secundario-90: #fbf3e1;

  --Terciario: #f77f00;
  --Terciario-20: #7c4000;
  --Terciario-30: #a55500;
  --Terciario-80: #fcd4aa;
  --Terciario-90: #fde5cc;

  --Texto: #eaeaea;

  --Fondo-1: #110f14;
  --Fondo-2: #211e27;
  --Fondo-3: #46444b;

  ---Error: #ff3333;
}
