.footer {
  display: flex;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background-color: var(--Fondo-1);
  border-top-style: solid;
  border-width: 1px;
  border-color: var(--Primario);
}
.footerDesktop {
  display: flex;
  width: 100%;
  justify-content: center;
}
/* area 1 */
.logoArea {
  display: flex;
  width: 100%;
  height: auto;
  margin-block: 2em 1em;
  margin-inline: 0em 0;
  margin-right: 0;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: var(--Primario);
  padding-block: 1rem;
}
.logo{
  width: 100%;
  height: 33px;
  margin-bottom:1em;
}

.contact {
  display: flex;
  width: 100%;
  margin-block: 1em 2em;
  margin-inline: 2em 0;
}
.contact ul {
  list-style: none;
  font-size: small;
  gap: 2em;
  padding: 0;
  margin: 0;
}
.contact ul li {
  display: flex;
  list-style: none;
  margin-bottom: 5px;
  align-items: center;
}
.contact ul li svg {
  margin-right: 8px;
}
/* area 2 */
.area2 {
  border-style: solid;
  border-color: var(--Primario);
  border-top: none;
  border-bottom: none;
  border-width: 1px;
}
.area2 ul {
  display: flex;
  flex-direction: column;
  font-size: small;
  gap: 1em;
  list-style: none;
  margin-inline: 0;
  padding-inline: 0;
  margin-block: 2.5em;
}
.labels {
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom-style: solid;
  border-color: var(--Primario);
  border-width: 1px;
}
.buttonFoot {
  width: 208px;
  height: 50px;
}
/* area 3 */
.sub {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.copyrights {
  display: flex;
  flex-direction: column;
}
.copyright {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}
.copyright p {
  font-size: smaller;
  margin-inline: 20px;
}
/* Button */
.buttonFoot {
  flex: 1 !important;
  font-family: Poppins !important;
  border: 2px solid var(--Primario) !important;
  color: var(--Texto) !important;
  padding: 8px 25px !important;
  border-radius: 8px !important;
  background-color: transparent !important;
}
.buttonFoot:hover {
  background-color: var(--Primario) !important;
}
.area1,
.area2,
.area3 {
  display: flex;
  width: 30%;
  margin: 0;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .footerDesktop {
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
  }
  .area1,
  .area2,
  .area3 {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
  }
  .logoArea {
    width: 100%;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: var(--Primario-90);
    margin-inline: 0em 0;
    padding-block: 1rem;
  }
  .area2 {
    border-style: none;
  }
  .labels {
    display: flex;
    box-sizing: border-box;
    margin-inline: 2em;
    padding-block: 2em;
    padding-left: 1em;
    justify-content: left;
    width: 100%;
  }
  .labels ul {
    margin: 0;
    padding: 0;
  }
}
