.process {
  background: transparent;
  padding: 60px 20px;
  color: white;
  width: 90%;
}

.process-header {
  text-align: center;
  margin-bottom: 50px;
}

.process-title {
  color: #4fd1c5;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.process-subtitle {
  font-size: 2rem;
  margin: 0;
  color: white;
}

.steps-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 30px;
}

.step {
  flex: 1;
  text-align: center;
  position: relative;
  padding: 0px;
  background-color: var(--Fondo-2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.step-number {
  background: #4fd1c5;
  color: #1a1a1a;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.step-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
  object-fit: cover;
}

.step-title {
  font-size: 1.5rem;
  margin: 15px 0;
  color: white;
}

.step-description {
  font-size: 0.9rem;
  line-height: 1.6;
  color: var(--Texto);
  max-width: 300px;
  margin: 0 auto 3em;
}

@media (max-width: 768px) {
  .steps-container {
    flex-direction: column;
    align-items: center;
  }

  .step {
    max-width: 400px;
    width: 100%;
  }
}
