.headerApp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  background-color: var(--Fondo-1);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.profile {
  width: 1em;
  height: 1em;
  margin-right: 1em;
}
.profile img {
  width: 100%;
  height: auto;
}
