.content {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--Fondo-2);
  color: var(--Texto);
}
